<section class="hero-section relative min-h-screen bg-hero-image px-10">
  <div
    class="absolute inset-0 z-0 bg-cover bg-center bg-hero-image brightness-75"
    role="img"
    aria-label="Background image">
  </div>

  <!-- Navigation -->
  <nav class="relative h-24 z-10 flex justify-between items-start py-2">
    <h1 class="text-xl font-bold text-white">Cris Pisculichi</h1>
    <button
      id="menuButton"
      class="text-white flex justify-center items-center h-full w-5">
      <p class="text-xl font-bold rotate-90 hover:text-gray-400 cursor-pointer">
        MENU
      </p>
    </button>
  </nav>

  <!-- Menu Overlay -->
  <div
    id="menuOverlay"
    class="fixed inset-0 bg-black bg-opacity-90 z-20 flex-col items-center justify-start hidden max-w-md mx-auto px-10">
    <nav
      class="relative w-full h-24 z-10 flex justify-between items-start py-2">
      <h1 class="text-xl font-bold text-white">Cris Pisculichi</h1>
      <button
        id="closeMenu"
        class="text-white flex justify-center items-center h-full w-5">
        <p
          class="text-xl font-bold rotate-90 hover:text-gray-400 cursor-pointer">
          CLOSE
        </p>
      </button>
    </nav>
    <div
      class="flex flex-col items-start justify-center relative text-white w-full px-5 gap-4">
      <h3 class="text-5xl font-bold">CONTACTO</h3>
      <ul class="flex justify-start items-center gap-4">
        <li>
          <a class="text-sm font-bold hover:text-gray-400 cursor-pointer">
            WHATSAPP
          </a>
        </li>
        <li>
          <a class="text-sm font-bold hover:text-gray-400 cursor-pointer">
            INSTAGRAM
          </a>
        </li>
        <li>
          <a class="text-sm font-bold hover:text-gray-400 cursor-pointer">
            FACEBOOK
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="relative">
    <h2 class="text-9xl text-white great-vibes-regular">Cumple</h2>
    <h2 class="text-9xl text-white great-vibes-regular">Cris</h2>
  </div>

  <div class="w-full h-[155px] absolute bottom-0 left-0">
    <div class="relative w-full h-full flex justify-center items-center">
      <button id="playButton" class="text-white font-bold z-10 h-full w-[155px]"
        >Play Music</button
      >
      <img
        class="h-[155px] w-[155px] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
        src="/images/burbuja.png"
        alt="bubble"
      />
    </div>
  </div>
</section>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

  .great-vibes-regular {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
  }

  .bg-hero-image {
    background-image: url("/images/wine.jpg");
  }

  #menuOverlay {
    display: none;
  }

  #menuOverlay.active {
    display: flex;
  }
</style>

<script>
  const menuButton = document.getElementById("menuButton");
  const closeMenu = document.getElementById("closeMenu");
  const menuOverlay = document.getElementById("menuOverlay");

  menuButton?.addEventListener("click", () => {
    menuOverlay?.classList.add("active");
  });

  closeMenu?.addEventListener("click", () => {
    menuOverlay?.classList.remove("active");
  });

  const playButton = document.getElementById("playButton")!;
  const audio = new Audio("music/iFollowRivers.mp3");
  let isPlaying = false;

  playButton.addEventListener("click", function () {
    if (isPlaying) {
      audio.pause();
      playButton.textContent = "Play Music";
    } else {
      audio.play();
      playButton.textContent = "Pause Music";
    }
    isPlaying = !isPlaying;
  });

  // Cuando la música termina
  audio.addEventListener("ended", function () {
    isPlaying = false;
    playButton.textContent = "Play Music";
  });
</script>
