<section
  class="w-full flex flex-col justify-center items-center px-5 py-40 gap-20">
  <div
    class="flex flex-col border border-white rounded-lg relative overflow-hidden">
    <img
      class="absolute top-0 left-0 w-full h-full z-0 object-cover"
      src="/images/globos.png"
      alt="Globos dorados"
    />
    <div
      class="flex flex-col items-center justify-start h-full text-white z-10 bg-black/70">
      <h4 class="text-4xl font-semibold pt-1 great-vibes-regular">
        Celebración
      </h4>
      <p class="text-sm font-normal px-2 pb-2">
        Este año no se trata solo de cumplir años, se trata de celebrar la vida.
        Por eso te espero el sábado 18 de enero a las 17:30 hs en Restobar 1812
        (Hotel Premier), Crisóstomo Álvarez Esq. 9 de Julio
      </p>
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg z-10"
        src="/images/gran-hotel-premier.webp"
        alt="Foto del Lugar"
      />
    </div>
  </div>

  <div
    class="flex flex-col border border-white rounded-lg relative overflow-hidden">
    <img
      class="absolute top-0 left-0 w-full h-full z-0 object-cover"
      src="/images/rosas.png"
      alt="Globos dorados"
    />
    <div
      class="flex flex-col items-center justify-start h-full text-white z-10 bg-black/70">
      <h4 class="text-4xl font-semibold pt-1 great-vibes-regular">Misa</h4>
      <p class="text-sm font-normal px-2 pb-2">
        Quiero dedicar un momento especial para dar gracias a Dios. Te invito a
        acompañarme en una Misa de Acción de Gracias, el día 19 de enero a las
        20:30 hs en la Catedral, Av. 24 de Septiembre 420
      </p>
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg z-10"
        src="/images/iglesia.webp"
        alt="Foto de la catedral"
      />
    </div>
  </div>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

    .great-vibes-regular {
      font-family: "Great Vibes", serif;
      font-weight: 400;
      font-style: normal;
    }
  </style>
</section>
