<section
  class="w-full flex flex-col justify-center items-center px-5 py-40 gap-8">
  <div class="flex flex-col gap-4 border border-white rounded-lg">
    <div class="flex flex-col items-center justify-start h-full text-white p-2">
      <h4 class="text-2xl font-semibold">CELEBRACIÓN</h4>
      <p class="text-base font-normal">
        Este año no se trata solo de cumplir años, se trata de celebrar la
        vida.Por eso te espero el sabado 18 de enero a las 17:30 hs en Restobar
        1812 (Hotel Premier), Crisostomo Alvarez Esq. 9 de Julio
      </p>
    </div>
    <div class="rounded-lg">
      <img
        class="rounded-lg"
        src="/images/gran-hotel-premier.webp"
        alt="Foto del Lugar"
      />
    </div>
  </div>
  <div class="flex flex-col gap-4 border border-white rounded-lg">
    <div class="flex flex-col items-center justify-start h-full text-white p-2">
      <h4 class="text-2xl font-semibold">MISA</h4>
      <p class="text-base font-normal">
        Quiero dedicar un momento especial para dar gracias a Dios.Te invito a
        acompañarme en una Misa de Acción de Gracias, el dia 19 de enero a las
        20:30 hs en la Catedral, Av. 24 de Septiembre 420
      </p>
    </div>
    <div class="rounded-lg">
      <img class="rounded-lg" src="/images/iglesia.webp" alt="Foto del Lugar" />
    </div>
  </div>
</section>
