<section class="w-full flex flex-col justify-center items-center px-5 gap-8">
  <div
    class="flex flex-col justify-center items-center border border-white rounded-lg pt-2 pb-4 px-2 text-base text-white bg-black/80">
    <p>
      Hola, espero que estés muy bien. Estoy organizando una celebración
      especial por mi cumpleaños y me encantaría que me acompañes. Quiero que
      sepas que ya he reservado y pagado una tarjeta de consumición para cada
      invitado, así que no tendrás que abonar absolutamente nada ese día.
    </p>
    <p>
      Para poder organizar todo de la mejor manera, te agradecería mucho que me
      confirmes si podrás asistir. Espero contar contigo para compartir este
      momento tan especial. ¡Un abrazo grande!
    </p>
    <button
      class="text-lg font-semibold rounded-lg py-2 px-4 bg-white text-black mt-5"
      >Confirmar</button
    >
  </div>
  <div class="flex flex-col">
    <div class="rounded-lg">
      <img
        class="rounded-lg"
        src="/public/images/gran-hotel-premier.webp"
        alt="Foto del Lugar"
      />
    </div>
    <div
      class="flex flex-col items-center justify-start h-full text-white text-lg font-semibold">
      <p>
        1812 Restó - <span class="text-sm"
          >Crisostomo Alvarez Esq. 9 de Julio</span
        >
      </p>
      <p>17:30hs</p>
    </div>
  </div>
</section>
