---

---

<div>
  <p>Cristina</p>
  <span>Menu</span>
</div>

<style>
  div {
    width: 100%;
    height: screen;
    background: #000;
  }
  div p {
    color: #ffffff;
  }
  div span {
    color: #ffffff;
  }
</style>
